<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitegg.service.system.mapper.UserMapper">

     <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitegg.service.system.entity.User">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="real_name" property="realName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="avatar" property="avatar"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="street" property="street"/>
        <result column="comments" property="comments"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="update_time" property="updateTime"/>
        <result column="operator" property="operator"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, account, nickname, real_name, gender, email, mobile,password, status, avatar, country, province, city, area, street, comments, create_time, creator, update_time, operator, del_flag
    </sql>
    
    <!-- 分页查询用户列表 -->
<!--    <select id="queryUserPage" resultType="com.gitegg.service.system.entity.UserInfo" parameterType="com.gitegg.service.system.entity.User">-->
<!--        SELECT DISTINCT-->
<!--        su.id AS id,-->
<!--        su.tenant_id AS tenantId,-->
<!--        su.account AS account,-->
<!--        su.nickname AS nickname,-->
<!--        su.real_name AS realName,-->
<!--        su.gender AS gender,-->
<!--        su.email AS email,-->
<!--        su.mobile AS mobile,-->
<!--        su.status AS status,-->
<!--        su.avatar AS avatar,-->
<!--        su.country AS country,-->
<!--        su.province AS province,-->
<!--        su.city AS city,-->
<!--        su.area AS area,-->
<!--        su.street AS street,-->
<!--        su.comments AS comments,-->
<!--        su.create_time AS createTime,-->
<!--        su.creator AS creator,-->
<!--        su.update_time AS updateTime,-->
<!--        su.operator AS operator,-->
<!--        GROUP_CONCAT(DISTINCT sr.id) AS roleIds,-->
<!--        GROUP_CONCAT(DISTINCT sr.role_key) AS roleKey,-->
<!--        GROUP_CONCAT(DISTINCT sr.role_name) AS roleName,-->
<!--        GROUP_CONCAT(DISTINCT dataPermission.organization_id) AS organizationIds,-->
<!--        so.id AS organizationId,-->
<!--        so.organization_name AS organizationName-->
<!--        FROM t_sys_user su-->
<!--        INNER JOIN t_sys_user_role userRole ON su.id = userRole.user_id AND userRole.del_flag = 0-->
<!--        LEFT JOIN t_sys_role sr ON userRole.role_id = sr.id AND sr.del_flag = 0-->
<!--        LEFT JOIN t_sys_data_permission_user dataPermission ON su.id = dataPermission.user_id AND-->
<!--        dataPermission.del_flag = 0-->
<!--        INNER JOIN t_sys_organization_user AS sou ON su.id = sou.user_id AND-->
<!--        organizationUser.del_flag = 0-->
<!--        INNER JOIN t_sys_organization so ON sou.organization_id = so.id AND-->
<!--        so.del_flag = 0-->
<!--        WHERE su.del_flag = 0-->
<!--        <if test="user.id != null and user.id != ''">-->
<!--            AND su.id = #{user.id}-->
<!--        </if>-->
<!--        <trim prefix="AND (" suffix=")" prefixOverrides="AND">-->
<!--            <if test="user.account != null and user.account != ''">-->
<!--                AND su.account like concat('%', #{user.account}, '%')-->
<!--            </if>-->
<!--            <if test="user.nickname != null and user.nickname != ''">-->
<!--                AND su.nickname like concat('%', #{user.nickname}, '%')-->
<!--            </if>-->
<!--            <if test="user.realName != null and user.realName != ''">-->
<!--                AND su.real_name like concat('%', #{user.realName}, '%')-->
<!--            </if>-->
<!--            <if test="user.mobile != null and user.mobile != ''">-->
<!--                AND su.mobile like concat('%', #{user.mobile}, '%')-->
<!--            </if>-->
<!--            <if test="user.email != null and user.email != ''">-->
<!--                AND su.email like concat('%', #{user.email}, '%')-->
<!--            </if>-->
<!--            &lt;!&ndash;只写!=null即可，否则状态是0时，会有bug&ndash;&gt;-->
<!--            <if test="user.status != null">-->
<!--                AND su.status = #{user.status}-->
<!--            </if>-->
<!--            <if test="user.roleId != null and user.roleId != ''">-->
<!--                &lt;!&ndash;这里需要这么写，否则多角色用户再通过角色查询时，只能查询出一个角色&ndash;&gt;-->
<!--                AND su.id IN (-->
<!--                    SELECT userRole.user_id-->
<!--                    FROM t_sys_user_role userRole-->
<!--                    WHERE userRole.del_flag = 0 AND userRole.role_id = #{user.roleId})-->
<!--            </if>-->
<!--            <if test="user.organizationId != null and user.organizationId != ''">-->
<!--                AND so.id = #{user.organizationId}-->
<!--            </if>-->
<!--            <if test="user.beginDateTime != null and user.beginDateTime != ''">-->
<!--                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{user.beginDateTime},'%Y-%m-%d')-->
<!--            </if>-->
<!--            <if test="user.endDateTime != null and user.endDateTime != ''">-->
<!--                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{user.endDateTime},'%Y-%m-%d')-->
<!--            </if>-->
<!--        </trim>-->
<!--        GROUP BY su.id-->
<!--        ORDER BY su.create_time DESC-->
<!--    </select>-->

    <!-- 分页查询用户列表 -->
    <select id="queryUserPage" resultType="com.gitegg.service.system.entity.UserInfo" parameterType="com.gitegg.service.system.entity.User">
        SELECT
        su.id AS id,
        su.tenant_id AS tenantId,
        su.account AS account,
        su.nickname AS nickname,
        su.real_name AS realName,
        su.gender AS gender,
        su.email AS email,
        su.mobile AS mobile,
        su.status AS status,
        su.avatar AS avatar,
        su.country AS country,
        su.province AS province,
        su.city AS city,
        su.area AS area,
        su.street AS street,
        su.comments AS comments,
        su.create_time AS createTime,
        su.creator AS creator,
        su.update_time AS updateTime,
        su.operator AS operator,
        sr.id AS roleId,
        sr.role_key AS roleKey,
        sr.role_name AS roleName,
        so.id AS organizationId,
        so.organization_name AS organizationName,
        sou.id AS organizationUserId,
        sou.is_primary AS isPrimary,
        sou.is_auto AS isAuto
        FROM t_sys_user su
        INNER JOIN t_sys_organization_user AS sou ON su.id = sou.user_id AND sou.del_flag = 0
        INNER JOIN t_sys_organization so ON sou.organization_id = so.id AND so.del_flag = 0
        LEFT JOIN t_sys_role sr ON sou.role_id = sr.id AND sr.del_flag = 0
        WHERE su.del_flag = 0
        <if test="user.id != null and user.id != ''">
            AND su.id = #{user.id}
        </if>
        <trim prefix="AND (" suffix=")" prefixOverrides="AND">
            <if test="user.account != null and user.account != ''">
                AND su.account like concat('%', #{user.account}, '%')
            </if>
            <if test="user.nickname != null and user.nickname != ''">
                AND su.nickname like concat('%', #{user.nickname}, '%')
            </if>
            <if test="user.realName != null and user.realName != ''">
                AND su.real_name like concat('%', #{user.realName}, '%')
            </if>
            <if test="user.mobile != null and user.mobile != ''">
                AND su.mobile like concat('%', #{user.mobile}, '%')
            </if>
            <if test="user.email != null and user.email != ''">
                AND su.email like concat('%', #{user.email}, '%')
            </if>
            <!--只写!=null即可，否则状态是0时，会有bug-->
            <if test="user.status != null">
                AND su.status = #{user.status}
            </if>
<!--            <if test="user.roleId != null and user.roleId != ''">-->
<!--                &lt;!&ndash;这里需要这么写，否则多角色用户再通过角色查询时，只能查询出一个角色&ndash;&gt;-->
<!--                AND su.id IN (-->
<!--                SELECT userRole.user_id-->
<!--                FROM t_sys_user_role userRole-->
<!--                WHERE userRole.del_flag = 0 AND userRole.role_id = #{user.roleId})-->
<!--            </if>-->
            <if test="user.organizationId != null and user.organizationId != ''">
                AND so.id = #{user.organizationId}
            </if>
            <if test="user.beginDateTime != null and user.beginDateTime != ''">
                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{user.beginDateTime},'%Y-%m-%d')
            </if>
            <if test="user.endDateTime != null and user.endDateTime != ''">
                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{user.endDateTime},'%Y-%m-%d')
            </if>
        </trim>
        ORDER BY su.create_time DESC
    </select>    

    <!-- 查询用户信息,做一下优化，不要一条sql执行，性能很差 -->
    <select id="queryUserInfo" resultType="com.gitegg.service.system.entity.UserInfo" parameterType="com.gitegg.service.system.entity.User">
        SELECT DISTINCT
        su.id AS id,
        su.tenant_id AS tenantId,
        su.account AS account,
        su.nickname AS nickname,
        su.real_name AS realName,
        su.gender AS gender,
        su.email AS email,
        su.mobile AS mobile,
        su.password AS password,
        su.status AS status,
        su.avatar AS avatar,
        su.country AS country,
        su.province AS province,
        su.city AS city,
        su.area AS area,
        su.street AS street,
        su.comments AS comments,
        su.create_time AS createTime,
        su.creator AS creator,
        su.update_time AS updateTime,
        su.operator AS operator,
        GROUP_CONCAT(DISTINCT sr.id) AS roleIds,
        GROUP_CONCAT(DISTINCT sr.role_key) AS roleKeys,
        GROUP_CONCAT(DISTINCT sr.role_name) AS roleNames,
        GROUP_CONCAT(DISTINCT sr.data_permission_type) AS dataPermissionTypes,
        GROUP_CONCAT(DISTINCT dataPermission.organization_id) AS organizationIds,
        so.id AS organizationId,
        so.organization_name AS organizationName
        FROM t_sys_user su
        INNER JOIN t_sys_user_role userRole ON su.id = userRole.user_id AND userRole.del_flag = 0
        LEFT JOIN t_sys_role sr ON userRole.role_id = sr.id AND sr.del_flag = 0
        LEFT JOIN t_sys_data_permission_user dataPermission ON su.id = dataPermission.user_id AND dataPermission.del_flag = 0
        INNER JOIN t_sys_organization_user organizationUser ON su.id = organizationUser.user_id AND organizationUser.del_flag = 0
        INNER JOIN t_sys_organization so ON organizationUser.organization_id = so.id AND so.del_flag = 0
        WHERE su.del_flag = 0
        <if test="user.id != null and user.id != ''">
            AND su.id = #{user.id}
        </if>
        <trim prefix="AND (" suffix=")" prefixOverrides="AND">
            <if test="user.account != null and user.account != ''">
                AND (su.account = #{user.account} OR su.nickname = #{user.account} OR su.mobile = #{user.account} OR su.email = #{user.account})
            </if>
            <if test="user.realName != null and user.realName != ''">
                AND su.real_name = #{user.realName}
            </if>
            <if test="user.mobile != null and user.mobile != ''">
                AND su.mobile = #{user.mobile}
            </if>
            <if test="user.email != null and user.email != ''">
                AND su.email = #{user.email}
            </if>
        </trim>
        GROUP BY su.id
    </select>

    <!-- 判断用户是否存在 -->
    <select id="queryExistUser" resultType="com.gitegg.service.system.entity.User" parameterType="com.gitegg.service.system.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_user
        WHERE del_flag = 0
        <if test="user.id != null and user.id != ''">
            AND id != #{user.id}
        </if>
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <if test="user.account != null and user.account != ''">
                OR account = #{user.account} OR nickname = #{user.account} OR mobile = #{user.account} OR email = #{user.account}
            </if>
            <if test="user.nickname != null and user.nickname != ''">
                OR account = #{user.nickname} OR nickname = #{user.nickname} OR mobile = #{user.nickname} OR email = #{user.nickname}
            </if>
            <if test="user.mobile != null and user.mobile != ''">
                OR account = #{user.mobile} OR nickname = #{user.mobile} OR mobile = #{user.mobile} OR email = #{user.mobile}
            </if>
            <if test="user.email != null and user.email != ''">
                OR account = #{user.email} OR nickname = #{user.email} OR mobile = #{user.email} OR email = #{user.email}
            </if>
        </trim>
        ORDER BY id DESC
    </select>

    <!-- 批量查询用户信息 -->
    <select id="queryUserList" resultType="com.gitegg.service.system.entity.UserInfo" parameterType="com.gitegg.service.system.dto.QueryUserDTO">
        SELECT DISTINCT
        su.id AS id,
        su.tenant_id AS tenantId,
        su.account AS account,
        su.nickname AS nickname,
        su.real_name AS realName,
        su.gender AS gender,
        su.email AS email,
        su.mobile AS mobile,
        su.status AS status,
        su.avatar AS avatar,
        su.country AS country,
        su.province AS province,
        su.city AS city,
        su.area AS area,
        su.street AS street,
        su.comments AS comments,
        su.create_time AS createTime,
        su.creator AS creator,
        su.update_time AS updateTime,
        su.operator AS operator,
        GROUP_CONCAT(DISTINCT sr.id) AS roleIds,
        GROUP_CONCAT(DISTINCT sr.role_key) AS roleKeys,
        GROUP_CONCAT(DISTINCT sr.role_name) AS roleNames,
        so.id AS organizationId,
        so.organization_name AS organizationName
        FROM t_sys_user su
        INNER JOIN t_sys_user_role userRole ON su.id = userRole.user_id AND userRole.del_flag = 0
        LEFT JOIN t_sys_role sr ON userRole.role_id = sr.id AND sr.del_flag = 0
        INNER JOIN t_sys_organization_user organizationUser ON su.id = organizationUser.user_id AND
        organizationUser.del_flag = 0
        INNER JOIN t_sys_organization so ON organizationUser.organization_id = so.id AND
        so.del_flag = 0
        WHERE su.del_flag = 0
        <trim prefix="AND (" suffix=")" prefixOverrides="AND">
            <if test="user.id != null and user.id != ''">
                AND su.id = #{user.id}
            </if>
            <if test="user.userIds != null and user.userIds.size > 0 ">
                and su.id in
                <foreach collection="user.userIds" item ="userId" index="i" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
            <if test="user.account != null and user.account != ''">
                AND su.account = #{user.account}
            </if>
            <if test="user.nickname != null and user.nickname != ''">
                AND su.nickname = #{user.nickname}
            </if>
            <if test="user.realName != null and user.realName != ''">
                AND su.real_name = #{user.realName}
            </if>
            <if test="user.mobile != null and user.mobile != ''">
                AND su.mobile = #{user.mobile}
            </if>
            <if test="user.email != null and user.email != ''">
                AND su.email = #{user.email}
            </if>
        <!--只写!=null即可，否则状态是0时，会有bug-->
            <if test="user.status != null">
                AND su.status = #{user.status}
            </if>
            <if test="user.roleId != null and user.roleId != ''">
                <!--这里需要这么写，否则多角色用户再通过角色查询时，只能查询出一个角色-->
                AND su.id IN (SELECT su.id FROM t_sys_user su INNER JOIN t_sys_user_role userRole ON
                su.id = userRole.user_id AND userRole.del_flag = 0 AND userRole.role_id = #{user.roleId})
            </if>
            <if test="user.roleKey != null and user.roleKey != ''">
                AND sr.role_key = #{user.roleKey}
            </if>
            <if test="user.organizationId != null and user.organizationId != ''">
                AND so.id = #{user.organizationId}
            </if>
            <if test="user.organizationIds != null and user.organizationIds.size > 0 ">
                and so.id in
                <foreach collection="user.organizationIds" item ="organizationId" index="i" open="(" close=")" separator=",">
                    #{organizationId}
                </foreach>
            </if>
            <if test="user.beginDateTime != null and user.beginDateTime != ''">
                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{user.beginDateTime},'%Y-%m-%d')
            </if>
            <if test="user.endDateTime != null and user.endDateTime != ''">
                AND DATE_FORMAT(su.create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{user.endDateTime},'%Y-%m-%d')
            </if>
        </trim>
        GROUP BY su.id
        ORDER BY su.create_time DESC
    </select>

</mapper>
